html {
    background: linear-gradient(rgb(87, 87, 255), rgb(252, 110, 243), rgb(238, 98, 98));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    min-block-size: 100dvh;
}
a {
    text-decoration: none;
}
:root {
    --pink: hsl(251, 81%, 64%);
    --teal: hsl(0, 100%, 61%);
    --white: hsl(293, 100%, 58%);
  }
  
body {
background: transparent;
padding-top: 30px;
min-block-size: 90dvh;

display: grid;
place-items: center;
}
.about-body {
    background: transparent;
    padding-top: 20px;
    min-block-size: 76dvh;
    
    display: grid;
    place-items: center;
    }
    
pre {
--selector: var(--pink);
--property: var(--teal);
--punctuation: var(--white);
--undefined: var(--white);
min-width: 50px;
font-size: 1.5rem;
font-weight: bold;
color: var(--undefined);
background: hsl(0, 0%, 0%);
padding: .5rem;
padding-top: 7rem;
padding-bottom: 9rem;
padding-left: 3rem;
padding-right: 3rem;
border-radius: 5rem;
position: relative;

transform-style: preserve-3d;
transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

pre > * {
text-shadow: 0 0 0.4em currentColor;
}

pre::before,
pre::after {
content: "";
position: absolute;
border-radius: inherit;
}

/* shadow */
pre::before {
inset: -0.50rem;
border-radius: inherit;
background: linear-gradient(-45deg, hsl(316, 93%, 68%), hsl(328, 100%, 64%), hsl(341, 98%, 64%));
z-index: -1;
transform: translateZ(-25px);
filter: blur(10px);
opacity: 100%;
}

/* gradient thingy */
pre::after {
z-index: -2;
inset: -1rem;
background: linear-gradient(-45deg, hsl(316, 100%, 50%), hsl(314, 100%, 50%), hsl(0, 100%, 50%));
transform: translateZ(-50px);
}

.selector {
color: var(--selector);
}

.property {
color: var(--property);
}

.punctuation {
color: var(--punctuation);
}

.property + .punctuation {
color: var(--property);
}

.click-the-code {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    color: aliceblue;
}

.animate-charcter
{
  padding-top: -100px;
  background-image: linear-gradient(
    -225deg,
    #00ffa6 0%,
    #00ffbf 29%,
    #00eeff 67%,
    #001eff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.rights {
    background: transparent;
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: aliceblue;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }